{% extends 'base.html' %}
{% block mystyle %}
<style>
        .back{        
            background: url("{% if profile.cover_pic %}/media/{{profile.cover_pic}}{% else%}/media/cover.jpg{% endif %}");
            height:400px; 
            padding-top: 300px; 
            background-size:cover; 
            width:100%
        }
        .photo{
            height:200px; 
            width:200px; 
            border-radius:50%; 
            border: 10px solid white;
            position: relative;
            top: -90px;
        }
        .line{
            word-spacing:10px;
            line-height:70px;
        }
        .sidebar-circle{
            height:20px;
            width:20px;
            background:lightgreen;
            border-radius:50%; 
            margin:0 auto; 
            margin-top: 50px;
        }
        .sidebar-line{
            height:350px;
            width:2px;
            background:lightgreen;
            margin:0 auto;
        }
        .a{
            display: inline;
        }
        .rg{
            background:rgba(0, 0, 0, 0.8);  
            height:70px; 
            text-align:center;
        }
        .buton{
            background: blue;
            border-radius:25px; 
            width:100%;
        }
        .smal{
            text-align: left;
            margin-left: 50px;
        }
        .publish{
            border-radius:25px;
            width:100%;
            position: relative;            
        }
        .len{
            width:100%;
            position: relative;
            top:0px;
        }
        .play{
            display: none !important;
        }
        .playbt{
            display: none !important;
        }
        @media screen and (max-width:700px){
            .sidebar-circle{
                background:red;
                display:none !important;
            }
            .a{
                display: none !important;
            }
            .sidebar-line{
            display:none !important;
            }
            .rg{
                background:transparent;
            }
            .buton{
                background:transparent;
            } 
            .smal{
                text-align: center;
                margin-left: 0px;
            }
            .publish{
                width:50%;
                top:-40px;
                float: right;
            }
            .len{
                width:70%;
                top:-60px;
                float: right;
                margin-right:10px;
            }
            .play{
                display: inline !important;
                margin-left: 100px;
                word-spacing: 15px;
            }
            .playbt{
                display: inline !important;
                margin-left: 20%;
                border-radius: 25px;
            }
        }
        
    </style>
{% endblock %}

{% block timeline %}
{% load staticfiles %}
    <div class="container">
        <div class="row back" >
            <div class="col-md-12 rg">
                <div class="row ">
                    <div class="col-md-3">                    
                        {% if profile.profile_pic %}
                        <img src="/media/{{profile.profile_pic}}" class="photo">
                        
                        {% else %}
                        <img src="/media/no_image.png" alt="" class="photo">
                        {% endif %}
                    </div>
                    <div class="col-md-4 line ">
                        <a href="{% url 'project:time' %}" style="color:blue;" class="a">Timeline</a>
                        <a href="{% url 'project:abo' %}" style="color:white;" class="a">About</a>
                        <a href="{% url 'project:alb' %}" style="color:white;" class="a">Album</a>
                        <a href="{% url 'project:friend' %}" style="color:white;" class="a">Friends</a>
                    </div>
                    <div class="col-md-3">
                        <!-- <p style="color:white;line-height: 70px; margin-left: 50px;" class="a">{{fff}} followers</p> -->
                    </div>
                    <!-- <div class="col-md-2" style="line-height: 70px;">
                        <button class="btn btn-primary text-white m-0 a"><h6>Add Friend</h6></button>                        
                    </div>                   -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3 class="text-primary smal">{{user.first_name}} {{user.last_name}}</h3>
                <p class="text-muted  smal">{{profile.profession}}</p>
                <div class="play">
                    <a href="{% url 'project:time' %}" style="color:blue;" >Timeline</a>
                    <a href="{% url 'project:abo' %}" style="color:black;" >About</a>
                    <a href="{% url 'project:alb' %}" style="color:black;" ">Album</a>
                    <a href="" style="color:black;" >Friends</a>
                </div>
                <!-- <div style="line-height: 70px;" class="playbt">
                    <button class="btn btn-primary text-white mb-5 mt-3 playbt"><h6>Add Friend</h6></button>                        
                </div>  -->
            </div>
            <div class="col-md-7">
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        {% csrf_token %}
                        <div class="col-md-1">
                            {% if profile.profile_pic %}
                            <img src="/media/{{profile.profile_pic}}" style="border-radius:50%; height:60px; width:60px;">
                            
                            {% else %}
                            <img src="/media/no_image.png" alt="" style="border-radius:50%; height:60px; width:60px;">
                            {% endif %}
                            <!-- <img src="/media/{{profile.profile_pic}}" style="border-radius:50%; height:60px; width:60px;"> -->
                        </div>
                        <div class="col-md-5">
                            <textarea cols="40" rows="2" class="ml-2 len" name="content"></textarea>
                        </div>
                        <div class="col-md-3">
                            <ul class="list-inline" type = none>
                                <li>
                                    <i class="far fa-images text-dark ml-2 mt-4" style="float:left;position:relative;">
                                        <input type="file" name="media" class="form-control" style="height:10px;width:40px;position:absolute;top:0px;opacity:0.1;" >
                                    </i>
                                </li>
                                <li><a href=""><i class="fas fa-video text-dark ml-2 mt-4" style="float:left;"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary text-white mt-2 publish" type="submit" name="postupload"><h6>Publish</h6></button>
                        </div>
                    </div>                    
                </form>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                    {% for i in all %}
                    <div class="row mb-3" >
                        <div class="col-md-2" >
                            <div class='sidebar-circle'>
                                <p class="text-primary ml-4 pl-2">{{user.first_name}} {{user.last_name}}</p>
                                <p class="text-muted ml-4">{{i.upload_on}}</p>
                            </div>
                            <div class='sidebar-line'></div>
                        </div>
                        
                        <div class="col-md-10 mb-3 mt-3">
                            <div style="margin-left:17%;">
                                <img src="/media/{{i.media}}" alt="" style="height:400px; width:100%; background-size: cover; ">
                                <div class="row mt-4" >
                                    <div class="col-md-2 ">
                                        <img src="/media/{{profile.profile_pic}}" style="border-radius:50%; height:60px; width:60px;">                            
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <p><a href=""><span class="m-0" style="font-size:20px; font-weight: bold;">{{user.first_name}} {{user.last_name}}</span></a>
                                                &nbsp;&nbsp;<span style="color:chartreuse;">following</span></p>
                                                <p class="text-muted">{{i.upload_on}}</p>
                                            </div>
                                            <div class="col-md-3">
        
                                            </div>
                                        </div>
                                        <hr/>
                                        <p class="text-muted">{{i.content}}</p>
                                        <hr/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>   
                <div class="col-md-2" style="position: relative; top: -100px;">
                    <p class="text-muted" >{{user.first_name}} {{user.last_name}} Activity</p>
                    {% for i in act %}
                    <!-- <p class="text-muted mb-1" style="border-left:2px solid green;"><a href="" class="text-primary" >{{i.user.user.first_name}}</a></p> -->
                    <p class="text-muted" style="border-left:2px solid green;">{{i.content}}</p>
                    <p class="text-muted">{{i.time}}</p>
                    <hr/>
                    {% endfor %}
                </div>          
            </div>
    </div>
    {% endblock %}